@use "./base.scss";

// put your custom CSS here!
h1.page-title a{
    text-shadow: 1px 1px 0px #F42C73, -1px -1px 0px #2AFAD6;
    color: black!important;
    font-weight: 700;
    letter-spacing: 3px;
}
h1.page-title a:hover{
    color: #F42C73!important;
    transform: translateX(1px);
    transform: translateY(1px);
    text-shadow: -1px -1px 0px #000, -2px -2px 0px #2AFAD6!important;
}